* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  padding: 1%;
  background-image: url('./images/website.jpg');
  background-size: 80vw;
  background-position: center;
  min-width: 50vw;
  min-height: 50vw;
}

.row.content {
  height: 550px;
}

.sidenav {
  background-color: black;
  height: 85%;
  margin: 40px;
  float: right;

}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}

.active {
  color: green;
}

footer {
  background-image: url("./images/footerguinda.jpg");
  background-size: cover;
  color: black;
  padding: 15px;
  text-align: right;
  font-size: 24px;

}

li{

  font-size: 20px;
}

.jumbotron {
  background-image: url('./images/black.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 175px;
  height: 31em;
  width: 100%;
  padding-bottom: 100px;
}


@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 175px;
    padding-bottom: 175px;
  }
}
 h1 {
   font-size: 42px;
   color: black;
 }

 .homeText{
   color: white;
 }
 .carousel-inner > .item > img,
 .carousel-inner > .item > a > img {
     width: 70%;
     margin: auto;
 }
h4 {
  color: black;
}
.text {
  color: white;
  text-shadow: black 2px;
}
