Body {
  margin: 100px;
  background-color: grey;
  background-image: url('./images/website.jpg');
  background-size: cover;
  background-position: center;


}

.sidenav {
  background-color: black;
  height: 100%;
  float: right;
  margin-top: 40px;
}

.active {
  color: green;
}
footer{
  float: inherit;
  background-color: white;
}

h2{
  background-color: black;
}

.hometext {
  color: white;
}
