* {
  margin: 0;
  padding: 0;
}

Body {
  padding: 5%;
  background-color: grey;
  background-image: url('./images/website.jpg');
  background-size: 800px;
  background-position: center;
  min-width: 50vw;
  min-height: 50vw;
}

.sidenav {
  background-color: black;
  height: 100%;
  float: right;
  margin-top: 40px;
}

.active {
  color: green;
}
footer{
  float: inherit;
  background-color: white;
}

h2{
  background-color: black;
}

.hometext {
  color: white;
}
